@import 'modules/nullstyle';
@import 'utils/vars';
// @import '../components/textForm/textField/textField'; //-email form
// @import '../components/textForm/dropDown/dropDown';
// @import 'components/textForm/checkbox/checkBox';
// @import 'components/rateStar/rateStar';
// @import 'components/textList/_textList';
// @import 'components/likeButton/likeButton';
// @import 'components/comments/comments';
// @import 'components/colors/colors';
// @import 'components/titels/titels';
// @import 'components/toggle/toggle';
// @import 'components/pagination/pagination';
// @import '../components/textForm/dateDropDown/dateDropDown';
// @import '../components/rangeSlider/rangeSlider';
// @import '../components/datepicker/datepicker';
@import '../../components/cards/find/find';
@import '../../components/cards/registration/registration';

.body {
    font-family: $font-family;
    color: rgba(31, 32, 65, 0.75);
}

h1, h2, h3 {
    font-weight: bold;
    color:  rgb(31, 32, 65);
}

.wrapper {
    padding: 200px;
}
