@import 'modules/nullstyle';
@import 'utils/vars';
// @import '../../components/cards/find/find';
// @import '../../components/cards/registration/registration';
// @import '../../components/cards/entry/entry';
// @import '../../components/cards/hotelRoom/hotelRoom';
@import '../../components/cards/exampleRoom/exampleRoom';
@import 'utils/libs';
@import 'utils/components';

.body {
    font-family: $font-family;
    color: $darkShade75;
    background: rgb(100, 185, 74);
}

h1, h2, h3 {
    font-weight: bold;
    color:  rgb(31, 32, 65);
}

.wrapper {
    display: flex;
    justify-content: center;
    background: rgb(147, 240, 128);
    margin: auto;
    margin-top: 20px;
}