@import 'modules/nullstyle';
@import 'utils/vars';
// @import '../../components/cards/find/find';
// @import '../../components/cards/registration/registration';
// @import '../../components/cards/entry/entry';
// @import '../../components/cards/hotelRoom/hotelRoom';
@import '../../components/cards/exampleRoom/exampleRoom';
@import 'utils/libs';
@import 'utils/components';

.body {
    font-family: $font-family;
    color: rgba(31, 32, 65, 0.75);
}

h1, h2, h3 {
    font-weight: bold;
    color:  rgb(31, 32, 65);
}

.wrapper {
    padding: 200px;
}