$widthSmall: 40px;
$widthMide: 99px;
$widthBig: 322px;

.button {
    text-align: center;
    height: 48px;
    border-radius: 22px;
    line-height: 15px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid;
    color: #BC9CFF;
    background: #fff;
    letter-spacing: 0.9px;
}
.button-color {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
}
.button-color:hover, .button:hover {
    opacity: 0.5;
}
.text {
    border: none;
    height: 40px;
}
.text:hover {
    color: $darkShade100;
}
.widthSmall {
    width: $widthSmall;
}
.widthMide {
    width: $widthMide;
}
.widthBig {
    width: $widthBig;
    background: no-repeat  96% 50%  url('../img/arrow_forward.png'), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
}