$font-size-body: 14px;
$listGuest: 3;               // number of guests 
$heightRow: 44px;

.dropdown {
    display: inline-flex;
    &__text {
        width: 320px;
        height: 44px;
        font-size: $font-size-body;
        padding-left: 15px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-radius: 2px;
        line-height: 44px;
        font-weight: 400;
        color: rgba(31, 32, 65, 0.75);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow {
        width: 14px;
        height: 8px;
        margin-right: 10px;
        cursor: pointer;
        display: block;
    }
    &__menu {
        width: 320px;
        display: none;
        position: absolute;
        z-index: 1;
    }
    &__item {
        display: flex;
        padding-left: 15px;
        line-height: 44px;
        flex: 68.75%;
        font-size: 12px;
        text-transform: uppercase;
    }
    &__number {
        display: flex;
        flex: 31.25%;
        justify-content: space-around;
        align-items: center;
    }
    &__circle {
        display: flex;
        height: 30px;
        width: 30px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__value {
        font-size: 12px;
    }
    // &__arrow:hover {
    //     .dropdown__menu {
    //         display: flex;
    //         flex-wrap: wrap; 
    //     }
    //     .dropdown__text {
    //         width: 319px;
    //         border-width: 0 0 1px 0;
    //         border-radius: 0;
    //     }
    //     .dropdown__container {
    //         width: 320px;
    //         height: ($listGuest + 2)*$heightRow;
    //         border: 1px solid rgba(31, 32, 65, 0.5);
    //         border-radius: 2px;
    //     }
    // } 
    &__container:hover {
        width: 320px;
        height: ($listGuest + 2)*$heightRow;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-radius: 2px;
        .dropdown__menu {
            display: flex;
            flex-wrap: wrap; 
        }
        .dropdown__text {
            width: 319px;
            border-width: 0 0 1px 0;
            border-radius: 0;
        }
        
    }

    &__btn {
        width: 320px;
        height: 20px;
        padding-right: 7px;
        display: flex;
        justify-content: flex-end;
        @if $listGuest == 0 {
            display: none;
        }
    }
}



