include ../../button/button.pug
- var guests = ["взрослые", "дети", "младенцы"]

.dropdown
    .dropdown__container
        .dropdown__text
            |  Сколько гостей
            img.dropdown__arrow#arrow(src='/images/arrow.jpg') 
        ul.dropdown__menu
            each person in guests
                li.dropdown__item= person
                .dropdown__number
                    .dropdown__circle -
                    .dropdown__value 0
                    .dropdown__circle +
            else 
                li.dropdown__item No guests
            .dropdown__btn
                +btn({title: "Применить", isText: true})