mixin Star(options)
    -
        var spanClassName = "star__item"
        spanClassName += options.isStar ? " checked" : " "
        var list = [{id: "first"}, {id: "two"}, {id: "three"}, {id: "fore"}, {id: "five"}]
    .star
        for each in list
            span(id=each.id, class=spanClassName )= ""