//- example
    +input({isType: "text", placeholder: "Имя"})
//
mixin input(options)
    .input
        form(action="#")
            label.input__wrapper
                input(type= options.isType, name= options.isType, placeholder= options.placeholder)
                if options.arrow & options.isType == "email"
                    input.input__arrow(type="image", src="assets/img/arrow_forward_001.png")
