mixin input(options)
    .input
        form(action="#")
            label.input__wrapper
                input(type="email", name="email", placeholder="Email")
                input.input__arrow(type="image", src="images/arrow_forward_001.png")
+input()