include ../../textForm/textField/textField.pug
include ../../textForm/radioButtons/radioButtons.pug
include ../../toggle/toggle.pug
include ../../button/button.pug

mixin registration(options)
    .registration
        .registration__wrapper
            h2.registration__title Регистрация аккаунта
            +input({isType: "text", placeholder: "Имя"})
            +input({isType: "text", placeholder: "Фамилия"})
            +sex
            .registration__data
                h3.registration__smallTitle дата рождения
                +input({isType: "number", placeholder: "ДД.ММ.ГГГГ"})
            .registration__inputInServis
                h3.registration__smallTitle данные для входа в сервис
                +input({isType: "email", placeholder: "Email"})
                +input({isType: "password", placeholder: "Пароль"})
            +toggle({text: "Получать спецпредложения"})
            +btn({title: "перейти к оплате", widthBig: true})
            .registration__content
                p.registration__text Уже есть аккаунт на Toxin
                +btn({title: "войти", widthMide: true, isColor: false})
+registration          





