include components/button/button.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title webpack
    body
        .wrapper
            //- .Cbutton example btn
            //-     +btn({title: "1", isColor: true, widthSmall: true})
            //-     +btn({title: "Page", widthMide: true})
            //-     +btn({title: "1", isColor: true, widthMide: true})
            //-     +btn({title: "text", isText: true})
                