mixin checkBox(list, option)   
    -
        var tagClassName = "checkBox__text"
        tagClassName += option.widthText ? " widthText" : " "
    .checkBox
        form(action="#", method="post")
            for idNameDescription in list
                label.checkBox__custom
                    input(id= idNameDescription.id)(type="checkbox", name= idNameDescription.id)
                    span(class = tagClassName)= idNameDescription.name
                    if option.widthText
                        p.checkBox__description= idNameDescription.description