.number {
    &__number {
        font-size: $font-size-h1+1;
        letter-spacing: 2.2px;
        line-height: 29px;
    }
    &__category {
        font-size: $font-size-h3;
        color: $purple;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 15px;
        letter-spacing: 1px;
    }
    &__number:before {
        font-size: 15px;
        content: '\00B0'; //no underlined degree
        line-height: 15px;
        padding-right: 3.5px;
    }
}