$heightRow: 44px;
$widthRow: var(--width);
.dateDropDown {
    display: inline-flex;
    &__wrapper {
    }
    &__row {
        width: $widthRow;
        height: $heightRow;
        font-size: $font-size-body;
        padding-left: 14px;
        border: 1px solid $darkShade25;
        border-radius: 4px;
        line-height: $heightRow;
        font-weight: 400;
        color: $darkShade25;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow {
        width: 13px;
        height: 6px;
        cursor: pointer;
        opacity: 0.5;
        margin-right: 15px;
    }
    &__text {
        width: 100px;
        font-family: $font-family;
        letter-spacing: 1.2px;
    }
    &__wrapper:hover {
        .dateDropDown__text::placeholder {
            color: $darkShade75;
        }
    }
}