$font-size-body: 14px;           // number of guests 
$heightRow: 44px;
$widthRow: var(--width);
.dateDropDown {
    display: inline-flex;
    &__wrapper {
    }
    &__row {
        width: $widthRow;
        height: $heightRow;
        font-size: $font-size-body;
        padding-left: 15px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        line-height: $heightRow;
        font-weight: 400;
        color: rgba(31, 32, 65, 0.25);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow {
        display: none;
    }
    &__wrapper:hover {
        .dateDropDown__arrow {
            width: 14px;
            height: 8px;
            cursor: pointer;
            display: block;
            opacity: 0.5;
            position: relative;
            right: 15px;
        }
        .dateDropDown__text::placeholder {
            color: rgba(31, 32, 65, 0.75);
        }
    }
}